/* CSS Document */

body {
	background:url(../images/bg_dbsx.gif) #edf3ff no-repeat right bottom;
}
.schedule{
	margin:10px auto;
	height:300px;
}
.schedule .schedule_title{
	width:1026px;
	line-height:25px;
	font-size:20px;font-weight:bold;
	margin-left:40px;margin-top:40px;
	color:#06F;
}

.schedule .schedule_title span{
	margin-left:40px;
	line-height:33px;
	font-size:14px;
}

.schedule .schedule_title span a{
	line-height:33px;
	font-size:20px;
	color:red;
}

.schedule .schedule_title img{
	 width:14px; 
	 height:14px;
	 vertical-align:middle;
}
