<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- namespace value ： 实现的DAO接口的路径 -->
<mapper namespace="com.eastcompeace.system.user.DivisionUserDao">

	<!-- resultMap:定义结果集中表字段与实体类属性的映射关系 -->
	<resultMap type="DivisionsUser" id="DivisionUserMap">
		<result column="id" property="id" />
		<result column="user_id" property="userId" />
		<result column="divisions_id" property="divisionsId" />
	</resultMap>

	<insert id="add" parameterType="DivisionsUser" useGeneratedKeys="true" keyProperty="id">
		insert into divisions_user_mapping (
		<if test="userId != null and userId != ''">
			user_id
		</if>
		<if test="divisionsId != null and divisionsId != ''">
			, divisions_id
		</if>
		) values (
		<if test="userId != null and userId != ''">
			#{userId}
		</if>
		<if test="divisionsId != null and divisionsId != ''">
			, #{divisionsId}
		</if>
		)
	</insert>
	
	<update id="update" parameterType="DivisionsUser" >
		update divisions_user_mapping 
		set divisions_id = #{divisionsId}
		where user_id = #{userId}
	</update>
	
</mapper>
