<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- namespace value ： 实现的DAO接口的路径 -->
<mapper namespace="com.eastcompeace.citizeninfo.CitizenInfoDao">
		
	<insert id="importCitizenData" parameterType="list">
		INSERT INTO rc_card_info(
			rc_card,
			bank_card,
			rc_card_type,
			sex,
			birthday,
			nation,
			address,
			issue_date,
			issue_office,
			valid_thru,
			area_id,
			import_date,
			create_time,
			batch_no,
			NAME,
			id_card,
			service_tel,
			rc_head,
			rc_head_url,
			rc_status,
			citizen_serial_no,
			citizen_no
		 ) values
		<foreach collection="list" item="item" index="index" separator=",">
			( 
				#{item.rcCard},	
				#{item.bankCard},
				#{item.rcCardType},
				#{item.sex},
				#{item.birthday},
				#{item.nation},
				#{item.address},
				#{item.issueDate},
				#{item.issueOffice},
				#{item.validThru},
				#{item.areaId},
				#{item.importDate},		
				sysdate(),			
				#{item.batchNo},			
				#{item.name},	
				#{item.idCard},		
				#{item.serviceTel},
				#{item.photoBase64},
				#{item.photoUrl},	
				'00',			
				#{item.citizenSerialNo},
				#{item.citizenNo}				
			)
		</foreach>
	</insert>
	
	<delete id="deleteCitizenData" parameterType="string">
		DELETE FROM `rc_card_info` WHERE batch_no = #{0} 
	</delete>	
		
		
	<select id="queryDuplicateData" resultType="CitizenInfo">
		SELECT 
			i.rc_card  AS rcCard,
			i.`id_card` AS idCard,
			i.`import_date` AS importDate
		FROM 
			`rc_card_info` i
		WHERE 
			i.id_card 
		IN (
			SELECT 
				`id_card`
			FROM 
				`rc_card_info` 
			GROUP BY 
				id_card
			HAVING 
				COUNT(1)>1
		)
	
	</select>
	
	<update id="updateRcStatus" parameterType="list">
		UPDATE
			rc_card_info
		SET
			rc_status='01'
		WHERE 
			rc_card
		IN		
			<foreach collection="list" index="index" item="item" open="("
				separator="," close=")">
				#{item}
			</foreach>		
	</update>
	
	<insert id="insertDataToBakTab">
		INSERT INTO rc_card_info_bak(
			rc_card,
			bank_card,
			rc_card_type,
			sex,birthday,
			nation,
			address,
			issue_date,
			issue_office,
			valid_thru,
			area_id,
			import_date,
			create_time,
			batch_no,
			NAME,
			id_card,
			service_tel,
			rc_head,
			rc_head_url,
			rc_status,
			citizen_serial_no,
			citizen_no
		)
		SELECT 
			i.rc_card, 
			i.bank_card, 
			i.rc_card_type, 
			i.sex, i.birthday, 
			i.nation, 
			i.address, 
			i.issue_date, 
			i.issue_office,
			i.valid_thru,
			i.area_id, 
			i.import_date, 
			i.create_time, 
			i.batch_no,
		 	i.NAME, 
		 	i.id_card, 
		 	i.service_tel, 
		 	i.rc_head,
		 	i.rc_head_url,
		 	i.rc_status,
		 	i.citizen_serial_no,
		 	i.citizen_no
		FROM 
			rc_card_info i 
		WHERE 
			i.rc_status = '01';
	</insert>
	
	<delete id="delDuplicateData">
		DELETE FROM  
			rc_card_info  
		WHERE 
			rc_status='01'
	</delete>
</mapper>
