<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.eastcompeace.rights.menu.RightsMenuDao">

	<resultMap id="RightsMenuMap" type="RightsMenu">
		<id column="rights_id" property="rightsId"/>
		<result column="rights_name" property="rightsName"/>
		<result column="rights_order" property="rightsOrder"/>
		<result column="rights_status" property="rightsStatus"/>
		<result column="rights_logo" property="rightsLogo"/>
	</resultMap>
	
	<select id="queryMenu" resultMap="RightsMenuMap" parameterType="RightsMenu">
		select 
			rm.rights_id rightsId,
			rm.rights_name rightsName,
			rm.rights_order rightsOrder,
			CASE rights_status
				WHEN  '0' THEN '不启用'
				WHEN  '1' THEN '启用'
			END rightsStatus,			
			rm.rights_logo rightsLogo
		from rights_menu  rm
		<where>
			<if test="rightsName!=null and rightsName!=''">
			    rm.rights_name like "%"#{rightsName}"%"
		    </if>
		    <if test="rightsOrder!=null and rightsOrder!=''">
			    and rm.rights_order=#{rightsOrder}
		    </if>
		    <if test="rightsStatus!=null and rightsStatus!=''">
			    and rm.rights_status=#{rightsStatus}
		    </if>
		    <if test="rightsLogo!=null and rightsLogo!=''">
		    	and rm.rights_logo=#{rightsLogo}
		    </if>	     
		</where>
		order by rm.rights_id asc
	</select>

	<insert id="addMenu" parameterType="RightsMenu">
       insert into rights_menu(rights_name,rights_order,rights_status,rights_logo)
       value(#{rightsName},#{rightsOrder},#{rightsStatus},#{rightsLogo})
  </insert>
  
	<update id="updateMenu" parameterType="RightsMenu">
		UPDATE 
			rights_menu
    	SET 
	    	rights_name = #{rightsName},
	      	rights_order = #{rightsOrder},
	      	rights_status = #{rightsStatus}
	      	<if test="rightsLogo!=null and rightsLogo!=''">
	      		,rights_logo = #{rightsLogo}
	      	</if>     	
    	WHERE 
    		rights_id = #{rightsId}
	</update>
	
	<delete id="delMenu" parameterType="list">
		delete from rights_menu where rights_id in
		<foreach collection="list" index="index" item="item" open="("
			separator="," close=")">
			#{item}
		</foreach>
	</delete>
	<!-- <select id="queryById" resultMap="RightsMenuMap" parameterType="java.lang.Integer">
	select
		rm.rights_name rightsName,
		rm.rights_order rightsOrder,
		rm.rights_status rightsStatus,
		rm.rights_logo rightsLogo
		from rights_menu  rm
	where 
		rm.rights_id=#{rightsId}
	</select> -->
</mapper>