<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.eastcompeace.org.orginfo.OrgInfoDao">
	<resultMap id="orgInfoMap" type="OrgInfo">
		<result column="org_id" property="orgId"/>
	    <result column="area_id" property="areaId"/>
	    <result column="area_name" property="areaName"/>
	    <result column="menu_id" property="menuId"/>
	    <result column="menu_name" property="menuName"/>
	    <result column="menu_logo" property="menuLogo"/>
	    <result column="org_name" property="orgName"/>
	    <result column="org_desc" property="orgDesc"/>
	    <result column="org_logo" property="orgLogo"/>
	    <result column="org_phone" property="orgPhone"/>
	    <result column="pass_flag" property="passFlag"/>
	    <result column="no_pass_reason" property="noPassReason"/>
	    <result column="create_time" property="createTime"/>
	    <result column="update_time" property="updateTime"/>
	</resultMap>
	
	<select id="queryOrgInfoList" parameterType="OrgInfo" resultMap="orgInfoMap">
		SELECT 
			l.org_id            ,
			c.area_id           ,
			c.area_name         ,
			a.menu_name         ,
			a.menu_logo         ,
			l.menu_id           ,
			l.org_name          ,
			l.org_desc          ,
			l.org_logo          ,
			l.org_phone         ,
			CASE l.pass_flag
				WHEN  '1' THEN '未审核'
				WHEN  '2' THEN '未通过'
				WHEN  '0' THEN '通过'
 			END pass_flag,
			l.no_pass_reason    ,
			DATE_FORMAT(  l.create_time  ,'%Y-%m-%d %H:%i:%s') create_time,
			DATE_FORMAT(  l.update_time  ,'%Y-%m-%d %H:%i:%s') update_time   
		FROM 
			la_org_info l, app_menu a, conf_area c
		WHERE 
			1=1 
			AND l.menu_id = a.menu_id 
			AND l.area_id = c.area_id
			<if test="orgId != null and orgId != ''">
				AND l.org_id =  #{orgId}
			</if>
			<if test="menuName != null and menuName != ''">
				AND a.menu_name LIKE CONCAT('%',#{menuName},'%')		
			</if>
			<if test="orgName != null and orgName != ''">
				AND l.org_name LIKE CONCAT('%',#{orgName},'%')		
			</if>
	</select>
	
	<insert id="addOrgInfo" parameterType="OrgInfo">
		INSERT INTO
			la_org_info(
				menu_id,
				area_id,
				org_name,
				org_desc,
				org_logo,
				org_phone,
				pass_flag,
				no_pass_reason,
				create_time,
				update_time
			) VALUES (
				#{menuId},
				#{areaId},
				#{orgName},
				#{orgDesc},
				#{orgLogo},
				#{orgPhone},
				#{passFlag},
				#{noPassReason},
				NOW(),
				NOW()
			)
	</insert>
	
	<update id="updateOrgInfo" parameterType="OrgInfo">
	 	UPDATE 
	 		la_org_info
		SET 
			<if test="menuId != null and menuId != ''">
				menu_id = #{menuId},
			</if>
			<if test="areaId != null and areaId != ''">
				area_id = #{areaId},
			</if>
			<if test="orgName != null and orgName != ''">
				org_name = #{orgName},
			</if>
			<if test="orgDesc != null and orgDesc != ''">
				org_desc = #{orgDesc},
			</if>
			<if test="orgLogo != null and orgLogo != ''">
				org_logo = #{orgLogo},
			</if>
			<if test="orgPhone != null and orgPhone != ''">
				org_phone = #{orgPhone},
			</if>
			<if test="passFlag != null and passFlag != ''">
				pass_flag = #{passFlag},
			</if>
			<if test="noPassReason != null and noPassReason != ''">
				no_pass_reason = #{noPassReason},
			</if>
			update_time = NOW()
		WHERE 
			org_id = #{orgId}	
	</update>

	<delete id="delOrgInfo" parameterType="list">
		DELETE FROM 
			la_org_info 
		WHERE 
			org_id 
		IN
		<foreach collection="list" index="index" item="item" open="("
			separator="," close=")">
			#{item}
		</foreach>
	</delete>
</mapper>